
<div class="jumbotron">
  <h2 align="center">Plataforma Administrativa VBS Colombia 2018</h2>
  <%= image_tag('homepage-image.png', id: "homepage-image") %>
  <br>
  <div align="center">
  <%= link_to "Asigna Los Crews!", asign_crews_path, class: "asign-crews btn btn-info" %>
  <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
  </div>
</div>
